<div>
  start:
  <timepicker
    [(ngModel)]="timeStart"
    [showSpinners]="false"
    [showMeridian]="false"
  ></timepicker>
</div>

<div>
  end:
  <timepicker
    [(ngModel)]="timeEnd"
    [showSpinners]="false"
    [showMeridian]="false"
    (ngModelChange)="setTimeEnd()"
  ></timepicker>
</div>

<table>
  <thead>
    <th *ngFor="let item of keySetting" class="text-center">{{ item }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of timeSetting; let i = index">
      <td *ngFor="let key of keySetting">
        <timepicker
          [(ngModel)]="item[key]"
          [showSpinners]="false"
          [showMeridian]="false"
          [min]="checkMinMax(key, item, 'min')"
          [max]="checkMinMax(key, item, 'max')"
        ></timepicker>
      </td>
    </tr>
  </tbody>
</table>

<div>
  {{ timeSetting | json }}
</div>

--------------
<div>start: {{ timeStart | date : "yyyy/MM/dd hh:mm" }}</div>
<div>end: {{ maxTimeEnd | date : "yyyy/MM/dd hh:mm" }}</div>
